/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/11/2016, 05:49:42 PM
    Author     : Guti
*/
body {
    background-color: #eee;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.detalle_personajes.col-md-10.col-xs-10.col-sm-10 {
    background-color: #f4f4f4;
}
.carrito_comic{
    background-color: #ebebeb;
    max-height: 1790px;
    overflow: overlay;
}
.inpt-personj{
  margin-top: 15px; float: right;
}
.navbar {
    min-height: 70px;
    border-radius: 0px;
    margin: 0px;
}
.navbar-default #formID #search_input {
  min-width: 457px;
  height: 48px;
}
.navbar-default .navbar-collapse {
  text-align: center;
}
.navbar-default {
    background-color: #2d2727;
}
#logo_inicial{
    width: 130px;
    padding: 4px;
    margin-left: 17px;
    margin-top: 5px;
}
.grid-data{
    background-color: white;
    margin-top: 37px;
    width: 47%;
    margin-left: 25px;
}
img.img-responsive.img-circle {
    position: absolute;
    top: -13px;
    right: 28px;
    height: 196px;
}
.row{
    padding-left: 60px;
    padding-right: 60px;
}
article.white-panel {
    position: relative;
    bottom: 20px;
}
.person_descrip{
    height: 182px;
    max-height: 182px;
}
.relacion_comics{
    height: 50px;
    max-height: 50px;
}
.pager .active a{
    background-color : #337AB7;
    color: #FFF;
    border: 0px;
}
.pager li>a:focus, .pager li>a:hover {
    text-decoration: none;
    background-color: #4278a7;
}
.without-result-search{
    text-align: center;
}
.txt-description-character{
    max-height: 124px;
    overflow: hidden;
}
#art-fav{
    text-align: center;
    padding-bottom: 19px;
}
#img-icon-fav{
    float: left;
}
#txt-img-fav{
    position: relative;
    top: 6px;
    left: 8px;
}
.art-comic{
    text-align: center;
    padding-top: 19px;
}
#query_result{
    position: relative;
    bottom: 6px;
}
.img-remove-fav{
    position: absolute;
    right: 1px;
    cursor: pointer;
}
.col-md-10{
    width: 82.33333333%;
}
.col-md-2{
    width: 17.66666667%;
}
/*
 de 768 hacia abajo
*/
@media (max-width: 768px) {
  .navbar-default #formID #search_input {
    min-width: 100%;
  }
  .navbar-default .navbar-collapse {
    text-align: left;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2d2727;
   }
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    margin: auto;
    padding: 4px;
   }
   #logo_inicial{
        margin: auto;
        padding-top: 9px;
   }
   h1{
      font-size: 18px;
   }
   .inpt-personj{
      margin-top: 15px; float: initial;
    }
    img.img-responsive.img-circle {
    position: relative;
    top: -13px;
    right: 0px;
    height: 184px;
  }
}